<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<header class="header" role="banner">
    <div class="header-top">
        <div class="wrapper">
            <div class="phone-number">
                <a href="tel:{{theme_settings.phone_number}}" class="phone-number-link">
                    <span class="phone-number-icon">
                        <svg><use xlink:href="#icon-phone"></use></svg>
                    </span>
                    <span class="phone-number-number">01723 512001</span>
                </a>
            </div>
            <div class="selling_point_one">
                <span>Fully Tracked UK Delivery</span>
            </div>
            <div class="selling_point_two">
                <span>Free Delivery Over £75</span>
            </div>
        </div>
    </div>
    <div class="header-main">
        <div class="wrapper">
            <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
                <span class="mobileMenu-toggleIcon">Toggle menu</span>
            </a>
            <div class="header-search">
                <form class="form header-search-form" action="{{urls.search}}">
                    <fieldset class="form-fieldset">
                        <div class="form-field">
                            <input class="form-input" type="search" name="search_query" placeholder="Search..." autocomplete="off">
                            <button type="submit" class="button button--primary">
                                <svg><use xlink:href="#icon-search"></use></svg>
                            </button>
                        </div>
                    </fieldset>
                </form>
                <button class="navUser-action navUser-action--quickSearch search-icon mobile-search" type="button" id="quick-search-expand" data-search="quickSearch" aria-controls="quickSearch" aria-label="Search" aria-expanded="false">
                    <svg><use xlink:href="#icon-search"></use></svg>
                </button>
            </div>
            {{#if page_type '===' 'default'}}
                <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
                    {{> components/common/store-logo}}
                </h1>
            {{else}}
                <div class="header-logo header-logo--{{theme_settings.logo-position}}">
                    {{> components/common/store-logo}}
                </div>
            {{/if}}
            <div class="account-wrapper">
                <a href="{{urls.account.index}}" class="account-icon" aria-label="{{lang 'common.account'}}">
                    <svg><use xlink:href="#icon-account"></use></svg>
                </a>
                <div class="account-links">
                    {{#if customer}}
                        <a class="navUser-action" href="{{urls.account.index}}" aria-label="{{lang 'common.account'}}">
                            {{lang 'common.account'}}
                        </a>
                        <a class="navUser-action" href="{{urls.auth.logout}}" aria-label="{{lang 'common.logout'}}">
                            {{lang 'common.logout'}}
                        </a>
                    {{else}}
                        <a class="navUser-action" href="{{urls.auth.login}}" aria-label="{{lang 'common.login'}}">
                            {{lang 'common.login'}}
                        </a>
                        {{#if settings.account_creation_enabled}}
                            <span class="navUser-or">{{lang 'common.or'}}</span>
                            <a class="navUser-action" href="{{urls.auth.create_account}}" aria-label="{{lang 'common.sign_up'}}">
                                {{lang 'common.sign_up'}}
                            </a>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
            <li class="navUser-item navUser-item--cart">
                <a class="navUser-action basket-icon"
                   data-cart-preview
                   data-dropdown="cart-preview-dropdown"
                   data-options="align:right"
                   href="{{urls.cart}}"
                   aria-label="{{lang 'cart.nav_aria_label'}}"
                >
                    <svg><use xlink:href="#icon-basket"></use></svg>
                    <span class="navUser-item-cartLabel">{{lang 'common.cart'}}</span>
                    <span class="countPill cart-quantity"></span>
                </a>
                
            </li>
        </div>
        <div class="dropdown-menu" id="cart-preview-dropdown" data-dropdown-content aria-hidden="true">
            {{> components/common/cart-preview}}
        </div>
        <div class="dropdown dropdown--quickSearch" id="quickSearch" aria-hidden="true" data-prevent-quick-search-close>
            {{> components/common/quick-search name='nav-quick-search'}}
        </div>
    </div>
    <!-- Create a wrapper for both nav and USP banner -->
    <div class="nav-usp-wrapper">
        <!-- Navigation menu -->
        <div class="navPages-container" id="menu" data-menu>
            {{> components/common/navigation-menu}}
        </div>
        
        <!-- USP banner -->
        <div class="header-usp">
            <div class="usp-slider"
                data-slick='{
                    "infinite": true,
                    "mobileFirst": true,
                    "arrows": false,
                    "dots": false,
                    "slidesToShow": 1,
                    "slidesToScroll": 1,
                    "autoplay": true,
                    "autoplaySpeed": 5000,
                    "fade": true,
                    "responsive": [
                        {
                            "breakpoint": 800,
                            "settings": "unslick"
                        }
                    ]
                }'>
                <div class="usp-item">
                    <span class="usp-icon">
                        <svg><use xlink:href="#icon-truck"></use></svg>
                        <span class="usp-text">FREE</span>
                    </span>
                    Free Shipping On Orders Over £50
                </div>
                <div class="usp-item">
                    <span class="usp-icon">
                        <svg><use xlink:href="#icon-phone"></use></svg>
                    </span>
                    Friendly Expert Advice
                </div>
                <div class="usp-item">
                    <span class="usp-icon">
                        <svg><use xlink:href="#icon-shop"></use></svg>
                    </span>
                    Family Run Since 1959
                </div>
                
            </div>
        </div>
    </div>
    
    {{{region name="header_navigation_bottom--global"}}}
</header>
{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}
