---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{inject 'productId' product.id}}

{{#partial "page"}}

    <!-- Commented out standard breadcrumbs -->
    <!-- {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}} -->

    <!-- New breadcrumb generation -->
    <nav aria-label="Breadcrumb">
        <ol class="breadcrumbs">
            <li class="breadcrumb">
                <a class="breadcrumb-label" href="{{urls.home}}">
                    <svg><use xlink:href="#icon-home"></use></svg>
                </a>
            </li>
            {{#each breadcrumbs}}
                {{#unless @first}}
                    {{#unless @last}}
                        <li class="breadcrumb">
                            <a class="breadcrumb-label" href="{{url}}">
                                <span>{{name}}</span>
                            </a>
                        </li>
                    {{/unless}}
                {{/unless}}
            {{/each}}
            <li class="breadcrumb breadcrumb-last">
                <a class="breadcrumb-label" href="/shop-all">
                    <span>Shop All Products</span>
                </a>
            </li>
        </ol>
    </nav>

    

    {{#each product.shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

    <div>
        {{> components/products/product-view}}

        {{{region name="product_below_content"}}}

        {{#if product.videos.list.length}}
            {{> components/products/videos product.videos}}
        {{/if}}

        {{#all settings.show_product_reviews theme_settings.show_product_reviews (if theme_settings.show_product_details_tabs '!==' true)}}
            {{> components/products/reviews reviews=product.reviews product=product urls=urls}}
        {{/all}}

        {{> components/products/tabs}}
    </div>

    {{> components/products/schema}}
{{/partial}}
{{> layout/base}}
