{{#if settings.show_product_rating}}
    {{> components/products/ratings rating=product.rating}}
    {{#if product.num_reviews '>' 0}}
        <a href="{{product.url}}{{#if is_ajax}}#product-reviews{{/if}}" id="productReview_link">
            {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
        </a>
    {{else}}
        <span>{{lang 'products.reviews.link_to_review' total=product.num_reviews}}</span>
    {{/if}}
{{/if}}
{{#if settings.show_product_reviews}}
    <a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}"
       class="productView-reviewLink productView-reviewLink--new"
       {{#unless is_ajax}}data-reveal-id="modal-review-form"{{/unless}}
       role="button">
       {{lang 'products.reviews.new'}}
    </a>
    
{{/if}}